@media screen and (max-width: 950px) {
  body header img {
    display: none;
  }
  body header .headerContent {
    display: none;
  }
  body header .logo {
    display: inline-block;
    position: absolute;
    font-size: 5vh;
    top: 50%;
    left: 5%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  body header .burger {
    float: right;
    margin-right: 1vh;
    cursor: pointer;
  }
  body header .burger .line {
    width: 7vh;
    margin: 1.75vh;
    height: 0.75vh;
    background-color: white;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  body header .changeBurger {
    position: relative;
  }
  body header .changeBurger .line:nth-child(1) {
    -webkit-transform: translate(0vh, 3vh) rotate(-45deg);
    transform: translate(0vh, 3vh) rotate(-45deg);
  }
  body header .changeBurger .line:nth-child(2) {
    opacity: 0;
  }
  body header .changeBurger .line:nth-child(3) {
    -webkit-transform: translate(0vh, -2vh) rotate(45deg);
    transform: translate(0vh, -2vh) rotate(45deg);
  }
  body header .menuShow {
    display: block;
    margin-top: 10vh;
    background-color: #fff;
    text-align: center;
    padding-bottom: 5vh;
    -webkit-box-shadow: 5px 5px 26px 7px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 26px 7px rgba(0, 0, 0, 0.25);
  }
  body header .menuShow a {
    display: block;
    font-size: 5vh;
    font-weight: bold;
    color: #ce3234;
    padding: 3vh;
  }
  body header .otherLinks {
    display: none;
  }
  body header .otherShow {
    display: block;
    background-color: #eee;
  }
  body .landing .dragon {
    display: none;
  }
  body .landing .dragonMobile {
    display: block;
  }
  body .content .item {
    width: 100%;
  }
  body .content .item .itemContent {
    padding: 5vh 10vh;
  }
  body .content .item .itemContent h2 {
    text-align: center;
  }
  body .content .item .itemContent p {
    font-size: 3.5vh;
  }
  body .content .item .itemContent .text ol {
    padding: 2vh;
  }
  body .content .item .itemContent .text ul {
    padding-left: 2vh;
  }
  body .content .item .itemContent .images {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  body .content .item .itemContent .images img {
    display: block;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
    float: none;
    padding: 5vh 0 5vh 0;
  }
  body .content .row {
    display: block;
  }
  body .content .row .rowItem {
    position: relative;
    width: 80vw;
    display: block;
    margin-bottom: 12vh;
  }
  body .content .row .rowItem h2 {
    padding-top: 8vh;
    font-size: 7vh;
  }
  body .content .row .rowItem img {
    width: 50%;
    padding-bottom: 5vh;
  }
  body footer p {
    text-align: center;
  }
  body footer .smallFooter {
    display: block;
  }
}

@media screen and (max-width: 426px) {
  body .landing h1 {
    font-size: 8vh;
  }
  body .content .item .itemContent {
    padding: 5vh 3vh;
  }
  body .content .row .rowItem {
    margin-bottom: 0vh;
  }
  body .content .row .rowItem .smallFooter {
    display: block;
  }
  body .content .row .rowItem h2 {
    padding-top: 5vh;
    font-size: 5vh;
  }
  body .content .row .rowItem img {
    width: 50%;
    margin-bottom: 0vh;
  }
}
/*# sourceMappingURL=indexMobile.css.map */